<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Postsignup</display-name>
    <servlet-name>Postsignup</servlet-name>
    <servlet-class>post.Postsignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postsignup</servlet-name>
    <url-pattern>/Postsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnectionAdmin</display-name>
    <servlet-name>DBConnectionAdmin</servlet-name>
    <servlet-class>DBConnectionAdmin.DBConnectionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnectionAdmin</servlet-name>
    <url-pattern>/DBConnectionAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnectionAdm</display-name>
    <servlet-name>DBConnectionAdm</servlet-name>
    <servlet-class>post.DBConnectionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnectionAdm</servlet-name>
    <url-pattern>/DBConnectionAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admins</display-name>
    <servlet-name>Admins</servlet-name>
    <servlet-class>post.Admins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admins</servlet-name>
    <url-pattern>/Admins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainAdmin</display-name>
    <servlet-name>MainAdmin</servlet-name>
    <servlet-class>post.MainAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainAdmin</servlet-name>
    <url-pattern>/MainAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Postsigninadmin</display-name>
    <servlet-name>Postsigninadmin</servlet-name>
    <servlet-class>post.Postsigninadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postsigninadmin</servlet-name>
    <url-pattern>/Postsigninadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eventlistadmin</display-name>
    <servlet-name>Eventlistadmin</servlet-name>
    <servlet-class>post.Eventlistadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eventlistadmin</servlet-name>
    <url-pattern>/Eventlistadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Memberslistadmin</display-name>
    <servlet-name>Memberslistadmin</servlet-name>
    <servlet-class>post.Memberslistadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Memberslistadmin</servlet-name>
    <url-pattern>/Memberslistadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profileadmin</display-name>
    <servlet-name>Profileadmin</servlet-name>
    <servlet-class>post.Profileadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profileadmin</servlet-name>
    <url-pattern>/Profileadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profilechangeadmin</display-name>
    <servlet-name>Profilechangeadmin</servlet-name>
    <servlet-class>post.Profilechangeadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profilechangeadmin</servlet-name>
    <url-pattern>/Profilechangeadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateprofileadmin</display-name>
    <servlet-name>Updateprofileadmin</servlet-name>
    <servlet-class>post.Updateprofileadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateprofileadmin</servlet-name>
    <url-pattern>/Updateprofileadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Membersprofileadmin</display-name>
    <servlet-name>Membersprofileadmin</servlet-name>
    <servlet-class>post.Membersprofileadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Membersprofileadmin</servlet-name>
    <url-pattern>/Membersprofileadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eventprofileadmin</display-name>
    <servlet-name>Eventprofileadmin</servlet-name>
    <servlet-class>post.Eventprofileadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eventprofileadmin</servlet-name>
    <url-pattern>/Eventprofileadmin</url-pattern>
  </servlet-mapping>
</web-app>